@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import './shared.css';


* {
    box-sizing: border-box;
}



body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size: 16px;
    letter-spacing:0;
    height: 100%;
    background-image: linear-gradient(170deg, var(--color-purple) 50%,transparent 50%);
    background-repeat: no-repeat;
}

h1,h2,h3 {
    margin:0;
    padding:0;
}

.logo {
    width:100%;
    padding-bottom:36px;
    padding-top:36px;
}

.main {
    margin:0 auto;
    width:443px;
}

.form-container {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:100vh;
    padding: 0 0 80px 0;

}

.form {
    
    background-color: var(--color-white);
    padding:22px 20px 30px 20px;
    border-radius:3px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
    
}

.form-title {
    padding-bottom:3px;
}
.form form{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.form .font-title {
    font-size:28px;
}

.input-group{
    display:flex;
    flex-direction:column;
    margin: 9px 0 0 0;
}

.input-group label {
    margin-bottom: 7px;
}

.input-group input{
    height:40px;
    border: 1px solid var(--color-brown-grey);
    border-radius:3px;
}



input {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    padding-left:14px;
    font-size:16px;
 
}

input::placeholder {
 color: var(--color-brown-grey);   

}

.input-group:nth-child(4){
    padding-bottom:3px;
}

.error-message {
    color: var(--color-scarlet);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 16px;
    margin: 0;
}

.error-message p {
    margin-top:10px;
    margin-bottom:4px;
}


.remember-me{
    padding: 18px 0 0 0;
}

.mybuttonclass {
    height:40px;
    width:100%;
    border-radius:3px;
    font-size:16px;
    cursor: pointer;
    border: 1px solid var(--color-button-border,#fff);
    background-color: var(--color-button-background,#000);
    color: var(--color-button-text,#000);
    margin: 24px 0;
    font-weight:400;
}

.mybuttonclass:hover {
    opacity:0.6;
}

.mybuttonclass.purple {
    --color-button-border:transparent;
    --color-button-background: var(--color-purple);
    --color-button-text: var(--color-white);
    margin-bottom:20px;
    margin-top: 0px;
}

.mybuttonclass.black {
    --color-button-border: var(--color-black);
    --color-button-background: var(--color-white);
    --color-button-text: var(--color-black); 

}

hr {
    margin-block-start:0;
    margin-block-end: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-light-lavander);
}
.footer {
    padding-top:25px;
    padding-bottom:80px;
    text-align: center;
    font-weight:500;
}
    .footer span {
        color:var(--color-brown-grey);
    }
    
    .footer-link{
        font-size:16px;
        text-decoration:none;
        color: var(--color-black);
        text-align: center;
        white-space: nowrap;
        font-weight:400;
    }
 a {
    text-decoration:none;
    color: var(--color-purple);
 }
a:hover {
       opacity:0.6;
}

@media  (max-width: 768px) {
    .main {
    margin:0 auto;
    width:60%;
    }
    
    .form-container {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:100vh;
    padding: 10px 0 70px 0;

}
    
}