:root {
    --primary-color: #fff;
    --color-purple: #624fe0;
    --color-blue: #4357da;
    --color-white: #fff;
    --color-black: #1d1d1d;
    --color-grey: #4b4b4b;
    --color-light-grey: #dfe0e9;
    --color-dark-grey: #76788b; 
    --color-brown-grey: #9d9d9d;
    --color-light-lavander:#dad6e2;
    --color-purple-hover:rgba(0, 0, 0, 0.09);
    --color-shadow:  rgba(0,0,0,0.1);
    --color-search:rgba(223, 224, 233, 0.61);
    --radius:3px;
    --color-light-blue: #aecbfa;
    --color-light-grey2: #e8eaed;
    --color-scarlet: #d0021b;
    --color-shadedheader: #c8bcff;
    --color-dark-grey2: rgba(0, 0, 0, 0.5);
}