@page
@model SmartNotes.SignUpModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
</head>
<body>
    <div class="main">
        <div class="form-container">
            <div class="logo">
                <img src="~/images/logo.svg" alt="image for smartnotes" />
            </div>
            <div class="form">
                <h3 class="form-title">Sign Up</h3>
                <form method="post" id="form">
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" value="" placeholder="Email address" required asp-for="newUser.Email">
                    </div>
                    <div class="input-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" value="" placeholder="Name" required>
                    </div>

                    <div class="input-group">
                        <label for="password" required>Password</label>
                        <input type="password" name="password" value="" placeholder="Password" required asp-for="newUser.Password">
                    </div>
                    <div class="input-group">
                        <label for="confirmpassword" required>Confirm password</label>
                        <input type="password" name="Password2" value="" placeholder="Type your password again" asp-for="newUser.Password2">
                    </div>
                    <div class="error-message">
                        <p>@Model.errorMessage</p>
                    </div>
                    <div class="input-group">
                        <input type="submit" class="mybuttonclass purple" name="submit" value="Get Started">
                    </div>
                </form>
                <div class="footer-link">
                    Already have an account?
                    <a asp-page="./Login" title="Sign in">Sign in</a>
                </div>
            </div>

            <div class="footer">
                &copy; 2019 SmartNotes Technologies <span>|</span>
                <a href="#">Your privacy</a>
            </div>
        </div>
    </div>
</body>
</html>
